@font-face {
    font-family: "Raleway";
    src: url("assets/fonts/Raleway/Raleway-VariableFont_wght.ttf"); format("ttf");
}

* {
    font-family: "Raleway", serif;
    list-style-type: none;
}

body {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;

}

a {
    text-decoration: none;
    color: black;
}

.hostingMainCardGradeIcon[data-active=false] {
    color: #d9d9d9;
}
.hostingMainCardGradeIcon[data-active=true] {
    color: #0065FC;
}
/* header */
header {
    display: flex;
    flex-direction: row;
}

div.logo {
    margin-left: 100px;
    margin-top: 15px;
}

/* Main menu */
nav.mainNav {
    margin-left: 50em;
}

nav.mainNav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

ul.nav li {
    padding: 1rem;
    margin-left: 1.7rem;
    display: block;
    text-align: center;
}

/* Recherche */
div.research {
    margin-left: 100px;
}

div.tittle {
    font-weight: bold;
}

form {
    display: inline-flex;
}
form i {
    background: #F2F2F2;
    border: 1px #F2F2F2 solid;
    font-size: 20px;
    border-radius: 15px 0 0 15px;
    padding: 7px 15px 11px;
}

input.searchField {
    background: transparent;
    border: 1px #F2F2F2 solid;
    padding: 11px;
    margin-left: -4px;
    height: 20px;
}

button {
    background: #0065FC;
    border: 1px #0065FC solid;
    border-radius: 0 15px 15px 0;
    color: #FFF;
    height: 43px;
    padding: 15px;
}

/* Filters */
div.filters {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 100px;
}

div.filters h2 {
    padding-top: 0.8rem;
    font-size: 1.3rem;
    font-weight: bold;

}

div.allFilters {
    display: flex;
    flex-direction: row;
    padding: 1em 40px;
}

.iconFilter {
    line-height: 50px;
    color: #0065FC;
    position: absolute;
    width: 50px;
    text-align: center;
    background: #DEEBFF;
    left: -2px;
    border-radius: 100%;
}

div.filter {
    display: flex;
    align-items: center;
    border-radius: 200px;
    border: 2px #F2F2F2 solid;
    height: 50px;
    position: relative;
    padding-left: 55px;
    padding-right: 14px;
    margin-right: 20px;
    margin-bottom: 10px;
    transition: transform .2s;
    cursor: pointer;
}

div.filter:hover {
    transform: scale(1.05);
    border: 2px  #DEEBFF solid;
}

/* infos hébergements */
.infoHosting {
    display: flex;
    flex-direction:row;
    align-items: center;
    margin-left: 6rem;
    margin-bottom: 1rem;
}

.searchResultWrapiconIcon {
    height: 2rem;
    width: 2rem;
    color: #0065FC;
    min-height: 2rem;
    min-width: 2rem;
    border: solid 1px #d9d9d9;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}


/* all hébergements */
div.allArticleHosting {
    display: grid;
    column-gap: 2rem;
    grid-template-columns: 6fr 3fr;
    margin-left: 5rem;
}

/* Hébergement classique */
#articleHosting {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
    background-color: #F2F2F2;
    border-radius: 1.5rem;
    padding: 2rem;
    height: 40.4rem;

}

article.hostingCards {
    background-color: white;
    padding: 0.375rem;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
    box-sizing: border-box;
    width: 16rem;
    height: 13rem;
}

article.hostingCards:hover {
    transform: scale(1.05);
    box-shadow: 0 0 16px lightgrey;
}

div.tittleHosting {
    grid-column: 1/-1;
    margin-bottom: -2rem;
    font-weight: bold;
}

div.tittleHosting h2 {
    font-size: 1.4em;
    font-weight: bold;
}

div.hostingImg img {
    height: 7rem;
    width: 15rem;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
    margin-top: -0.9rem;
    margin-left: -2.3rem;
}

figure.hosting figcaption h3 {
    font-size: 1.1rem;
    margin-left: -2.2rem;
    margin-top: 0.4rem;
}

article.hostingCards p {
    margin-top: -0.9rem;
    margin-left: 0.35rem;
}

article.hostingCards .noteHosting {
    margin-top: -0.5rem;
    margin-left: 0.35rem;
}

/* Hébergement les plus populaires */
#articlePopularHosting {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 23rem;
    height: 40.4rem;
    background-color: #F2F2F2;
    border-radius: 1.5rem;;
    padding: 2rem;
}

article.popularHostingCards {
    width: 23rem;
    height: 8.7rem;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 0 16px #0000002e;
    margin-bottom: 3rem;
}

article.popularHostingCards:hover {
    transform: scale(1.05);
    box-shadow: 0 0 16px lightgrey;
}

div.popularHostingImg img {
    border-radius: 1rem 0 0 1rem;
    position: absolute;
    width: 9rem;
    height: 8rem;
    object-fit: cover;
    margin-top: -0.8rem;
    margin-left: -2rem;
}

div.tittlePopularHosting {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1rem;
}

div.tittlePopularHosting h2 {
    padding-right: 7rem;
    font-size: 1.4rem;
    font-weight: bold;
}

figure.popularHosting figcaption h3 {
    padding-left: 8.5rem;
    font-size: 1.17em;
}

article.popularHostingCards p {
    padding-left: 11rem;
    margin-block-start: -0.8em;
    margin-block-end: 1em;
}

article.popularHostingCards div.noteHosting {
    padding-left: 11rem;
    padding-top: 0.8rem;
}

/* Activitées */

#articleActivities {
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    column-gap: 2rem;
    margin: 3rem 0;
}

#articleActivities h2 {
    grid-column: 1/-1;
    margin-left: 5rem;
    font-weight: bold;
}


article.activityCards {
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    width: 19.5rem;
}
article.activityCards:hover {
    transform: scale(1.05);
    box-shadow: 0 0 16px lightgrey;
}

.activityCards figure figcaption h3 {
    font-size: 1rem;
    margin-left: -1.5rem;
}

img.smallActivityImg {
    width: 19.5rem;
    height: 8rem;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
    margin-top: -1rem;
    margin-left: -2.5rem;
}

img.activityImg {
    width: 19.5rem;
    height: 12rem;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
    margin-top: -1rem;
    margin-left: -2.5rem;
}

img.greatActivityImg {
    width: 19.5rem;
    height: 25rem;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
    margin-top: -1rem;
    margin-left: -2.5rem;
}

article.activityCard1 {
    grid-row: 2/7;
    grid-column: 1/2;
    height: 30rem;
    margin-left: 5rem;

}

article.activityCard2 {
    grid-column: 2/3;
    grid-row: 2/5;
    height: 16rem;

}

article.activityCard3 {
    grid-column: 2/3;
    grid-row: 6/7;
}

article.activityCard4 {
    grid-column: 3/4;
    grid-row: 2/7;
    height: 30rem;
}

article.activityCard5 {
    grid-column: 4/5;
    grid-row: 2/3;
}

article.activityCard6 {
    grid-column: 4/5;
    grid-row: 4/7;
    height: 16rem;
}

/* Footer */
footer {
    display: flex;
    flex-flow: row nowrap;
    background-color: #F2F2F2;
}

nav.about {
    margin-left: 2rem;
}

nav.ourHosting {
    margin-left: 8rem;
}

nav.assist {
    margin-left: 8rem;
}

.tittleNavFooter {
    margin-left: 2.3rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-size: 1rem;
}

.navFooter ul li {
    margin-bottom: 0.8rem;
    font-size: 0.8rem;
}